<div id="product-table">
  <% if (products.length > 0) { %>
  <table class="table-auto w-full">
    <thead>
      <tr>
          <th class="px-4 py-2">Image</th>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Brand</th>
          <th class="px-4 py-2">Price</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
        <tr>
          <td class="border px-4 py-2">
            <img src="<%= product.image %>" alt="<%= product.name %>" class="w-10 h-10 object-cover">
          </td>
          <td class="border px-4 py-2">
            <a href="/products/<%= product._id %>" class="text-blue-500 hover:text-blue-800">
              <%= product._id %>
            </a>
          </td>
          <td class="border px-4 py-2">
            <a href="/products/<%= product._id %>" class="text-blue-500 hover:text-blue-800">
              <%= product.name %>
            </a>
          </td>
          <td class="border px-4 py-2">
            <%= product.manufacturer %>
          </td>
          <td class="border px-4 py-2">
            <%= product.price %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <!-- Pagination links -->
  <% if (page > 1) { %>
    <a href="/products?page=<%= page - 1 %>">Previous</a>
  <% } %>
  <span>Page <%= page %> of <%= totalPages %></span>
  <% if (page < totalPages) { %>
    <a href="/products?page=<%= page + 1 %>">Next</a>
  <% } %>

  <% } else { %>
      <p class="text-red-500">There are no products to display...</p>
  <% } %>
</div>
